.container {
    margin: 0 auto;
    max-width: 1040px;
    width: 100%;
}

a:visited {
    color: none;
}

.center {
    justify-content: center;
 }
.display {
    display: flex;
}
.spaceBet {
    justify-content: space-between ;
}

.spaceAround {
    justify-content: space-around;
}

.colum{
    flex-direction: column;
}

/* header */
header { 
    background-color: #85CDF5 ;
    color: #333 ;
    
}
header img{
    margin: 5px 200px;

}

header a {
    color: inherit;
    margin: auto ;
    max-width: 100%;
    font-weight: bold;
    font-style: normal;
    font-size: 1.2em;
}
header div div a:hover {
    border-bottom-color: black;
    border-bottom: 10px;  
}

header a:link {
    text-decoration: none;

}

.formaHead {
    background-color: #333333;
    width: 50px;
    height: 5px;
    margin-left: auto;

}

.formaHead:hover {
    background-color: #333333;
    width: 100px;
    height: 5px;    
    margin-right: 0px;
    transition-duration: .7s;
}

/* body main sessão secundaria*/

#fundoImagem {
    background-image: url("../img/image.png");
    background-size: 1400px;
    width: 100%;
    height: 500px;
    max-width: 1400px;
}

h1 { 
    font-size: 75px;
    color: #fafafa;
    text-align: center;
}

.forma{
    background-color: #fafafa;
    width: 50px;
    height: 5px;
    margin: 25px;
}

.forma:hover{
    background-color: #fafafa;
    width: 400px;
    height: 5px;
    margin: 25px;
    transition-duration: .5s;
}

section div p {
    font-size: 1.3em;
    text-align: center;
    color: #fafafa;
}

/* body main sessão terciaria*/

#terceira {
    background-color: #2C5680;
    max-width: 1400px;
    height: 333px;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;

}

h2{
    color: #DEB959;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    padding-bottom: 15px;

}